@using DuoTabForWeb.ViewModels
@using DuoTabForWeb.Models
@model DuoTabForWeb.ViewModels.BalanceViewModel
@{
    ViewBag.Title = "AuthenticatedHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    @{
    // TODO: Include abbreviated expense history here from DB, and a link to view more
    }
    <h4>@Model.OwingText</h4>
    <h1>$@Model.CurrencyValue</h1>
    <br />
    <p>
        <a href="Transaction/Create" class="btn btn-success">Add Expense</a>
        <a href="#" class="btn btn-default">Forgive Debts</a>
    </p>
</div>
